.inline-block {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding: 1%;
  color: #FFFFFF; 
}
.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
}
nav {
  width: 100%;
  padding: 1%;
  background-color: #373738;
}
ul {
  width: 50%;
  margin-left: auto;
}
.heroImg {
  height: 600px;
  padding: 25px;
}
.content {
  width: 500px;
  margin: 0 auto;
}
footer {
  background-color: #373738;
  padding: 1%;
}
footer ul {
  display: inline-block;
  vertical-align: top;
  padding: 1%;
  color: #FFFFFF; 
}
.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.workGrid {
  display: grid;
  grid-template-columns: 33.33 33.33 33.33%
  grid-template-rows: 100%;
  grid-template-areas: 'Left Middle Right';
}
.LHTY {
  grid-area: Left;
}
.LHTY2 {
  grid-area: Middle;
}
.FRIDGE {
  grid-area: Right;
}
.workGrid > div
.LHTY {
  grid-area: content;
}
.FRIDGE {
  grid-area: content;
}
.LHTY {
  grid-area: content;
}
@media only screen and (max-width: 600px) {
  .flex-container {display: column; width: 100%;}
  #categoryGrid {
    grid-template-rows: 
    grid-template-columns: 1fr;
    grid-template-areas: 'Left Middle Right';

    
}